{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet"  href="{% static 'style.css' %}">
</head>
<body>
<div class="grid-layout container">
  {% include 'myApp/header.html' %}
  <div class="main about">
    <h1>
      about spering company
    </h1>
    <img src="{% static 'images/about-img.jpg' %}" class="main_image" alt="">
    <p class="aboutText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nibh tellus, ultricies vitae lacinia nec, eleifend a lectus. Sed mi ligula, placerat tempor iaculis eu, congue sit amet libero. Sed at fermentum dolor, ut suscipit urna. Ut quis iaculis diam, nec aliquam justo. Suspendisse vel tellus mauris. Curabitur dolor massa, congue a efficitur non, interdum quis lacus. Vestibulum in mi posuere, mattis orci ac, suscipit ligula. Aenean at massa accumsan tellus cursus laoreet in nec justo.
    </p>
    <div class="btn">
      <a href="">
        Read More
      </a>
    </div>
  </div>
  {% include 'myApp/footer.html' %}
</div>
</body>
</html>