{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Category</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="grid-layout container no-sidebar">
  {% include 'myApp/header.html' %}
  <div class="main category">
    <div class="category_header">
      <h1 class="special_nadpis">
        Category
      </h1>
    </div>
    <div class="category_image_box">
      <div class="image_box">
        <div class="image">
          <img src="{% static 'images/c1.png' %}" alt="">
        </div>
        <div class="image_box_text">
          Design & Arts
        </div>
      </div>
      <div class="image_box">
        <div class="image">
          <img src="{% static 'images/c2.png' %}" alt="">
        </div>
        <div class="image_box_text">
          Web Development
        </div>
      </div>
      <div class="image_box">
        <div class="image">
          <img src="{% static 'images/c3.png' %}" alt="">
        </div>
        <div class="image_box_text">
          SEO Marketing
        </div>
      </div>
      <div class="image_box">
        <div class="image">
          <img src="{% static 'images/c4.png' %}" alt="">
        </div>
        <div class="image_box_text">
          Video Editing
        </div>
      </div>
      <div class="image_box">
        <div class="image">
          <img src="{% static 'images/c5.png' %}" alt="">
        </div>
        <div class="image_box_text">
          Logo Design
        </div>
      </div>
      <div class="image_box">
        <div class="image">
          <img src="{% static 'images/c6.png' %}" alt="">
        </div>
        <div class="image_box_text">
          Game Design
        </div>
      </div>
    </div>
  </div>
  {% include 'myApp/footer.html' %}
</div>
</body>
</html>