{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spering</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="grid-layout container">
    {% include 'myApp/header.html' %}
    <div class="sidebar">
        <img src="{% static 'images/experience-img.jpg' %}" class="image indexImage" alt="">
    </div>1
    <div class="main">
        <div class="mainText">
            <div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <h1>Are you sure you want to delete this post?</h1>
                    <div class="btnGroup">
                        <div class="btn1">
                            <a href="{{ request.META.HTTP_REFERER }}" class="noneDecors">Go back</a>
                        </div>
                        <div class="btn2">
                            <input type="submit" value="Delete">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'myApp/footer.html' %}
</div>
</body>
</html>