{% load static %}

<div class="header">
    <ul>
        <li class="navBar"><img src="{% static 'images/logo.png' %}" alt=""></li>
        <li class="navBar"><a href="{% url 'home' %}" class="navBarText">Home</a></li>
        <li class="navBar"><a href="{% url 'about' %}" class="navBarText">About</a></li>
        <li class="navBar dropdown">
            <a href="#" class="navBarText dropdown-toggle">Category</a>
            <ul class="dropdown-menu">
                {% for genre in genres %}
                <li><a href="{% url 'category_page' genre.id %}">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="navBar"><a href="{% url 'work' %}" class="navBarText">Work</a></li>
        <li class="navBar"><a href="{% url 'posts' %}" class="navBarText">Posts</a></li>
        <li class="navBar"><a href="{% url 'user_dashboard' %}" class="navBarText">Dashboard</a></li>
        {% if request.user.is_authenticated %}
        <li class="navBar"><a href="{% url 'logout' %}" class="navBarText">Logout</a></li>
        {% else %}
        <li class="navBar"><a href="{% url 'login' %}" class="navBarText">Login</a></li>
        {% endif %}
    </ul>
</div>