{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spering</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="grid-layout container">
    {% include 'myApp/header.html' %}
    <div class="sidebar">
        <div>
            <img src="{% static 'images/experience-img.jpg' %}" class="image indexImage" alt="">
        </div>
        </div>1
    <div class="main">
        <div class="mainText">
            <h1>
                best experienced freelancer here
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent nibh tellus, ultricies vitae lacinia nec, eleifend
                a lectus. Sed mi ligula, placerat tempor iaculis eu, congue
                sit amet libero. Sed at fermentum dolor, ut suscipit urna.
                Ut quis iaculis diam, nec aliquam justo. Suspendisse vel tellus
                mauris. Curabitur dolor massa, congue a efficitur non, interdum
                quis lacus. Vestibulum in mi posuere, mattis orci ac, suscipit
                ligula. Aenean at massa accumsan tellus cursus laoreet in nec justo.
            </p>
            <div class="btn">
                <a href="">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% include 'myApp/footer.html' %}
</div>
</body>
</html>