{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spering</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="grid-layout container">
        {% include 'myApp/header.html' %}
        <div class="sidebar">
            <img src="{% static 'images/experience-img.jpg' %}" class="image indexImage" alt="">
        </div>
        <div class="main">
        {% if page == 'login' %}
            <div>
                <form id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" name="username" placeholder="Enter username:">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" placeholder="Enter password:">
                    </div>
                    <p></p>
                    <input type="submit" value="Login" class="btn1">
                </form>
                <div id="login-error" style="color: red;"></div>
                <p>Haven't signed up yet?</p>
                <div class="btn2">
                    <a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        {% else %}
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        {{ form.username.errors }}
                        {{ form.username }}
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Password:</label>
                        {{ form.password1.errors }}
                        {{ form.password1 }}
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                        {{ form.password2.errors }}
                        {{ form.password2 }}
                    </div>
                    <p></p>
                    <input type="submit" value="Register" class="btn1">
                </form>
                <p>Already signed up?</p>
                <div class="btn2">
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    {% include 'myApp/footer.html' %}

<script>
    $(document).ready(function() {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    $('#login-form').on('submit', function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "login" %}',
            type: 'POST',
            data: $(this).serialize(),
            headers: { 'X-CSRFToken': csrftoken },
            success: function(response) {
                if (response.success) {
                    window.location.href = response.redirect_url;
                } else {
                    $('#login-error').text(response.error);
                }
            },
            error: function(xhr, status, error) {
                $('#login-error').text('An error occurred: ' + error);
            }
        });
    });
});
</script>
</body>
</html>