{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spering</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="grid-layout container">
    {% include 'myApp/header.html' %}
    <div class="sidebar">
        <img src="{% static 'images/experience-img.jpg' %}" class="image indexImage" alt="">
    </div>
    <div class="main">
        <div class="mainText">
            <div>
                <div class="btn">
                    <a href="{% url 'create_post' %}">Create Post </a>
                </div>
                {% for post in posts %}
                    <a class="postName" href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    <p>{{ post.content }}</p>
                    <p>Genres: {% for genre in post.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <pre> </pre>
                {% endfor %}
            </div>
        </div>
    </div>
{% include 'myApp/footer.html' %}
</div>
</body>
</html>