{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spering</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="grid-layout container">
    {% include 'myApp/header.html' %}
    <div class="sidebar">
        <img src="{% static 'images/experience-img.jpg' %}" class="image indexImage" alt="">
    </div>
    <div class="main">
        <input type="hidden" id="operation" name="operation" value="{% if is_update %}update{% else %}create{% endif %}">
        <div id="alert" style="display:none;"></div>
        <form method="POST" action="" class="form-container" id="post-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title:</label>
                {{ form.title }}
            </div>
            <p></p>
            <div class="form-group">
                <label for="{{ form.content.id_for_label }}">Content:</label>
                {{ form.content }}
            </div>
            <p></p>
            <div class="form-group">
                <label for="{{ form.genres.id_for_label }}">Genres:</label>
                {{ form.genres }}
            </div>
            <p></p>
            {% if not is_update %}
            <div class="form-group">
                <label for="email" id="formEmail">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <p></p>
            {% endif %}
            <div class="form-group">
                <input type="submit" value="Submit" class="btn1">
            </div>
        </form>
    </div>
    {% include 'myApp/footer.html' %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM fully loaded and parsed');

    var newsletterForm = document.getElementById('newsletterForm');
    if (newsletterForm) {
        newsletterForm.addEventListener('submit', function(event) {
            var email = document.getElementById('email').value;
            var errorMessage = document.getElementById('error-message');
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!emailPattern.test(email)) {
                errorMessage.textContent = 'Please enter a valid email address.';
                event.preventDefault();
                return false;
            } else {
                errorMessage.textContent = '';
                return true;
            }
        });
    }
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function() {
    console.log('form submission');
    $('#post-form').on('submit', function (event) {
        event.preventDefault();
        var operation = $('#operation').val();
        var url = operation === 'update' ? '{% url 'update_post' post.id %}' : '{% url 'create_post' %}';

        $.ajax({
            url: url,
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                console.log('Success:', response);
                if (response.success) {
                    $('#post-form').hide();
                    $('#alert').html('<div class="alert alert-success">Post was ' + operation + 'd successfully</div>').show();
                } else {
                    $('#alert').html('<div class="alert alert-danger">Error occurred!</div>').show();
                }
            },
            error: function (xhr, status, error) {
                console.log('Error:', error);
                $('#alert').html('<div class="alert alert-danger">An error occurred: ' + error + '</div>').show();
            }
        });
    });
});
</script>

</body>
</html>