{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spering</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="grid-layout container">
    {% include 'myApp/header.html' %}
    <div class="sidebar">
        <img src="{% static 'images/experience-img.jpg' %}" class="image indexImage" alt="">
    </div>
    <div class="main">
        <div>
            <form method ="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="email" id="formEmail"></label><input type="email" id="email" name="email" placeholder="Enter your email" required>
                <form id="newsletter" action="/subscribe" method="post">
                    <div id="error-message"></div>
                    <input type="submit" value="Submit">
                </form>
            </form>
        </div>
    </div>
    {% include 'myApp/footer.html' %}
</div>
<script>
document.getElementById('newsletterForm').addEventListener('submit', function(event) {
    var email = document.getElementById('email').value;
    var errorMessage = document.getElementById('error-message');
    var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if (!emailPattern.test(email)) {
        errorMessage.textContent = 'Please enter a valid email address.';
        event.preventDefault();
        return false;
    } else {
        errorMessage.textContent = '';
        return true
    }
});
</script>
</body>
</html>