<!-- post_detail.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="grid-layout container">
    {% include 'myApp/header.html' %}
    <div class="sidebar">
        <img src="{% static 'images/experience-img.jpg' %}" class="image indexImage" alt="">
    </div>
    <div class="main">
        <div class="mainText">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>

            <h2>Comments</h2>
            <ul>
                {% for comment in comments %}
                    <li>{{ comment.author_name }}: {{ comment.content }}</li>
                {% empty %}
                    <li>No comments yet.</li>
                {% endfor %}
            </ul>
            {% if post.author_name == request.user or request.user.is_superuser or request.user.profile.role == 'admin' %}

            {% endif %}
            <h2>Add a comment</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn4">Add Comment</button>
            </form>
            <div class="btn1">
                <a href="{% url 'update_post' post.id %}" class="noneDecors">Update</a>
            </div>
            <div class="btn2">
                <a href="{% url 'delete_post' post.id %}" class="noneDecors">Delete</a>
            </div>
        </div>
    </div>
    {% include 'myApp/footer.html' %}
</div>
</body>
</html>